<footer
  class="text-secondary text-[0.8em] mx-auto py-4 text-center w-full bg-background"
>
  <span>
    &copy; 2023-{new Date().getFullYear()} hardcoreMG Blog. Powered by <a
      href="https://astro.build"
      target="_blank"
      rel="noopener">Astro</a
    >.
  </span>
</footer>
